<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User details</title>
    </head>
<body>
<h2>Applicant Forms</h2>

<form action="/user/add" method="POST">
    <label for="name">Name</label><br>
    <input type="text" id="fname" name="name" value=""><br>
    <label for="name">Email</label><br>
    <input type="text" id="iname" name="email" value=""><br>
    <input style="margin-left:40px; margin-top:10px;"type="submit" value="submit"/>
</form>

</body>
</html>